<div style="margin: 2%;">
    <h1>New Posts</h1>
    <div class="column">
        <div class="row-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Asus ROG Zephyrus G16</h5>
              <p class="card-text">very chut licking fast</p>
              <a href="#" class="btn btn-primary">prolly go kys</a>
            </div>
          </div>
        </div>
        <div class="row-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">XBOX is Fucked</h5>
              <p class="card-text">No additional info needed</p>
              <a href="#" class="btn btn-primary">Yes</a>
            </div>
          </div>
        </div>
      </div>
</div>