<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head')%>
    <title>Edit Profile</title>
</head>
<body>
    <%- include('./partials/nav')%>
    
    <div class="container mt-3" >
        <form action="/profile" method="post">
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 300px;">            
            <div style="width: 200px;">

                <div class="mb-3" style="display: flex; flex-direction: column; align-items: center;">
                    <label for="Name" class="form-label">Name</label>
                    <input type="text" 
                    class="form-control" 
                    id="name" name="name" 
                    aria-describedby="name">
                </div>
    
                <div class="mb-3" style="display: flex; flex-direction: column; align-items: center;">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" 
                    class="form-control" 
                    id="email" name="email" 
                    aria-describedby="email">
                
                
                <div class="mb-3" style="display: flex; justify-content: center; margin-top: 50px;">
                    <button class="btn btn-info" type="submit">Edit</button>
                </div>
            </div>
        </div>
            
        </form>
    
    </div>  

    <%- include('./partials/scripts')%>
    <%- include('./partials/themeScript') %>
    
</body>
</html>