<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head')%>


    
    <title>SignIn</title>

    <style>
      body{
        font-family: 'Audiowide','sans serif';
        background-image: url('/images/bg_signup.jpg');
        background-size: cover;   
        color: azure;     
      }
    </style>
</head>
<body >
  
    <%- include('./partials/nav2')%>
    <h1 style="text-align: center; color: azure; text-decoration: underline;margin-top: 30px;font-size:35px;">Sign In</h1>
    <%- include('./partials/form')%>
    

    <%- include('./partials/scripts')%>
</body>  
</html>